@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow: hidden;
}

.booting-finish {
  z-index: -2 !important;
}

@-webkit-keyframes booting {
  0% {
    -webkit-transform: scale(20);
            transform: scale(20);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}

@keyframes booting {
  0% {
    -webkit-transform: scale(20);
            transform: scale(20);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}

.booting {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: -webkit-gradient(linear, left top, left bottom, from(#035eb6), to(#1f8b50));
  background: linear-gradient(180deg, #035eb6, #1f8b50);
  background-size: 100% 100%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  -webkit-animation: booting 5s forwards;
          animation: booting 5s forwards;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}

.booting h1 {
  color: white;
  text-align: center;
  font-weight: 100;
}

.booting div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.booting img {
  width: 300px;
}

.desktop {
  width: 100%;
  height: 100vh;
  background-color: #323232;
  background-image: url("img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 40px 15px;
  overflow: hidden;
  z-index: -1000;
}

.desktop .gif-date {
  width: 48px;
  margin-bottom: 10px;
}

.desktop .cloud1 {
  position: absolute;
  top: 30%;
  left: 100px;
  z-index: 0;
  -webkit-animation-duration: 220s;
          animation-duration: 220s;
  -webkit-animation-name: goRight;
          animation-name: goRight;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: .7;
}

@-webkit-keyframes goRight {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
}

@keyframes goRight {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
}

.desktop .cloud2 {
  position: absolute;
  top: 20%;
  left: -500px;
  z-index: 0;
  -webkit-animation-duration: 300s;
          animation-duration: 300s;
  -webkit-animation-name: goLeft;
          animation-name: goLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: .3;
}

@-webkit-keyframes goLeft {
  from {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes goLeft {
  from {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.desktop .cloud3 {
  position: absolute;
  top: 40%;
  left: -200px;
  z-index: 1;
  -webkit-animation-duration: 200s;
          animation-duration: 200s;
  -webkit-animation-name: goLeft2;
          animation-name: goLeft2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: .7;
}

@-webkit-keyframes goLeft2 {
  from {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes goLeft2 {
  from {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.desktop .cloud4 {
  position: absolute;
  top: 50%;
  left: 500px;
  z-index: 2;
  -webkit-animation-duration: 200s;
          animation-duration: 200s;
  -webkit-animation-name: goRight2;
          animation-name: goRight2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: .3;
}

@-webkit-keyframes goRight2 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
}

@keyframes goRight2 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1920px, 0);
            transform: translate(1920px, 0);
  }
}

.desktop .window.opened.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100vh;
}

.desktop .window.opened {
  width: 80%;
  height: 80vh;
  top: 5vh;
  left: 10%;
  opacity: 1;
  z-index: 5 !important;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.desktop .hidded {
  z-index: -1;
}

.desktop .window {
  width: 80%;
  height: 80vh;
  position: absolute;
  border-radius: 12px;
  overflow: hidden;
  top: 10vh;
  left: 10%;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-filter: blur(32px);
          filter: blur(32px);
  -webkit-transition: opacity .6s, -webkit-transform .6s ease-in-out, -webkit-filter .6s;
  transition: opacity .6s, -webkit-transform .6s ease-in-out, -webkit-filter .6s;
  transition: transform .6s ease-in-out, opacity .6s, filter .6s;
  transition: transform .6s ease-in-out, opacity .6s, filter .6s, -webkit-transform .6s ease-in-out, -webkit-filter .6s;
}

.desktop .window .window-header {
  width: 100%;
  height: 42px;
  background-color: #171717a4;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.desktop .window .window-header .window-name {
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  width: 60%;
  position: absolute;
  left: 20%;
}

.desktop .window .window-header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.desktop .window .window-header .buttons span {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: .8;
}

.desktop .window .window-header .buttons span:hover {
  opacity: 1;
  cursor: pointer;
}

.desktop .window .window-header .buttons .close {
  background-color: #fe5d55;
}

.desktop .window .window-header .buttons .minimize {
  background-color: #febc2f;
}

.desktop .window .window-header .buttons .maximize {
  background-color: #25c03c;
}

.desktop .window iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.desktop .window .window-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.desktop .window .window-content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 10px;
  left: 20px;
}

.desktop .window .window-content main {
  width: 100%;
  height: 100%;
  background-color: #303030;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.desktop .window .window-content main h1 {
  color: #fefefe;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
}

.desktop .window .window-content main h2 {
  padding: 20px;
  margin: 20xp;
  display: block;
}

.desktop .current-date {
  color: white;
  position: absolute;
  right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 32px;
  z-index: 100;
}

.desktop .current-date * {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.desktop .current-date:hover {
  cursor: default;
}

.desktop .current-date:hover .time, .desktop .current-date:hover .date, .desktop .current-date:hover .current-date {
  opacity: 1;
}

.desktop .current-date:hover .gif-date {
  opacity: 1;
}

.desktop .current-date .time {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 1px;
  opacity: .6;
}

.desktop .current-date .date {
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: .4;
}

.desktop .current-date .gif-date {
  opacity: .6;
}

.desktop .subicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.desktop .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desktop .icons .icon {
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  z-index: 2000;
}

.desktop .icons .icon:hover {
  background-color: #aaaaaa30;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.desktop .icons .icon:hover * {
  opacity: 1;
}

.desktop .icons .icon * {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
}

.desktop .icons .icon img {
  width: 70px;
}

.desktop .icons .icon h1 {
  color: white;
  font-size: 12px;
  font-weight: 300;
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 32px;
  z-index: 10;
}

footer .icon-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff30;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin: 0 auto;
  padding: 2px 10px 2px 10px;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
}

footer .icon-wrapper:hover {
  background-color: #ffffff30;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

footer .icon-wrapper img {
  height: 50px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
}

footer .icon-wrapper img:hover {
  height: 100px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  cursor: pointer;
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */